.container {
  display: flex;
}

.carousel {
  flex: 1;
  width: 100%;
}

.wrapper {
  height: 130vh;
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.details {
  flex: 1;
  position: relative;
  margin-top: 3rem;
}

.hero {
  height: 100%;
  position: absolute;
  width: 500px;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center right;
  }
}
